
    .main{
        margin-left: 100px;
        margin-right: 50px;
       padding-top: 80px;
        
    }
    .main1{
        margin-left: 100px;
        margin-right: 50px;
        margin-top: 10px;
    
        
    }
    .title-main{
        margin-left: 40px;
        margin-right: 20px;
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: row;
        
        
    }
    .title{
      width: 30%;
      position: relative;
      left: 40px;
  
    }

    .content{
      position: relative;
      margin-top: 30px;
      margin-left: 50px;
      margin-right: 50px;
    }